/* resets */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
    display: block;
}

a img { border: 0; }

/* selection colors */

::selection            { background: rgb(055,055,055); }
::-moz-selection       { background: rgb(055,055,055); }
img::selection         { background: transparent; }
img::-moz-selection    { background: transparent; }
body                   { -webkit-tap-highlight-color: rgb(055,055,055); }

/* page specific stuff */

@font-face {
    font-family: "Miso";
    src: url(miso-webfont.ttf) format("truetype");
}

@font-face {
    font-family: "Police";
    src: url(KITCHENPOLICE-webfont.ttf) format("truetype");
}

body {
    margin: 10px; 
    background: #333;
    font: 16px/22px Miso, Arial, sans-serif;
    color: #aaa;
    letter-spacing: 1px;
    text-align: center;
    -webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
}

a {
    color: #aaa;
}

h2, p, ul, li {
    margin: 16px;
}

h1 {
    font: 100px 'Police', Arial, sans-serif;
    margin: 30px;
}

#canvas {
    margin: auto;
}

#about {
    margin: auto;
    padding: 10px;
    width: 628px;
    text-align: left;
    background-color: #222; 
}

#about ul {
    margin-left: 0px;
    list-style: none;
}

footer {
    text-align: center;
    margin: 30px;
}
